.frustum {
  --unit: 6px;
  --side: calc(var(--unit) * 30);
  --rotateY: 0deg;
  --rotateX: 0deg;
  --fold: 0deg;
  
  --shape-square: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
/*   --shape-triangle: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%); */
  --shape-triangle: polygon(0% 100%, 25% 0%, 75% 0%, 100% 100%);
  --fold: -105deg;
  --opacity: 1;

  --frustumXPosition: -84px;
  --frustumYPosition: 48px;
  --frustumZPosition: 105px;
  
  width: var(--side);
  height: var(--side);
  /* translate3d(var(--frustumXPosition), var(--frustumYPosition), var(--frustumZPosition)) */
  transform:
    rotateX(var(--rotateX))
    rotateY(var(--rotateY))
    translateX(var(--frustumXPosition))
    translateY(var(--frustumYPosition))
    translateZ(var(--frustumZPosition))
    scale3d(0.7, 0.7, 0.5)
    scale3d(0.5, 0.5, 0.5);
  transform-style: preserve-3d;
  will-change: transform;
  
  transition: transform 900ms ease-in-out;
  
  opacity: var(--opacity, 0);
}
.frustum div {
  width: var(--side);
  height: var(--side);
  position: absolute;
  
  transition: 
    transform 900ms ease-out,
    opacity var(--opacity-delay, 0ms) ease-in-out,
    -webkit-clip-path 900ms ease-out, /* for Safari 11 and iOS 11 */
    clip-path 900ms ease-out;
  transition-delay: 0ms, var(--opacity-delay, 0ms), 0ms;
  opacity: var(--opacity, 0);
}
.frustum .base {
  background: hsla(338, 80%, 50%, 1);
}
.frustum .frustum__top {
  background: red;
  /* transform: translate3d(0px, 0px, 215px) scale(0.5); */
  transform: translate3d(0px, 0px, 173px) scale(0.5);
}
.frustum .frustum__side {
  /* Safari 11 (iOS 11) still requires prefix for clip path */
  -webkit-clip-path: var(--clipped, var(--shape-triangle));
  clip-path: var(--clipped, var(--shape-triangle));
  background: hsla(var(--hue, 183), 90%, 56%, .68);
/*
  background: 
    repeating-linear-gradient(20deg, hsla(var(--hue, 183), 90%, 96%, .68) 0px, hsla(var(--hue, 183), 90%, 96%, .68) 20px, hsla(var(--hue, 183), 90%, 50%, .68) 20px, hsla(var(--hue, 183), 90%, 50%, .68) 28px),
    repeating-linear-gradient(110deg, hsla(var(--hue, 183), 90%, 96%, .68) 0px, hsla(var(--hue, 183), 90%, 96%, .68) 20px, hsla(var(--hue, 183), 90%, 50%, .68) 20px, hsla(var(--hue, 183), 90%, 50%, .68) 28px); 
/**/
  transform-origin: 0% 100%;
  
  transform:
    rotateZ(var(--rotateZ, 0deg))
    translate(var(--x, 0), var(--y, calc(var(--side) * -1)))
    rotateX(var(--fold, 0deg));
}
.frustum .frustum__side:nth-child(2) {
  --hue: 188;
  --rotateZ: 90deg;
  --x: calc(var(--side) * -1);
}
.frustum .frustum__side:nth-child(3) {
  --hue: 193;
  --rotateZ: 180deg;
  --x: calc(var(--side) * -1);
  --y: 0;
}
.frustum .frustum__side:nth-child(4) {
  --hue: 198;
  --rotateZ: 270deg;
  --y: 0;
}

